body{
margin:0;
font-family:'Poppins';
background:#f1f5f9;
}

/* AUTH */

#auth{
text-align:center;
margin-top:100px;
}

input,select,button{
padding:12px;
margin:10px;
width:260px;
}

button{
background:#16a34a;
color:white;
border:none;
border-radius:8px;
}

/* APP */

#app{
display:none;
}

.topbar{
background:#16a34a;
color:white;
padding:15px;
font-size:18px;
}

#content{
padding:20px;
margin-bottom:70px;
}

.card{
background:white;
padding:20px;
margin:10px 0;
border-radius:12px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

/* Bottom navigation like real apps */

.bottomnav{
position:fixed;
bottom:0;
width:100%;
background:white;
display:flex;
justify-content:space-around;
padding:10px;
box-shadow:0 -2px 10px rgba(0,0,0,0.1);
}

.navbtn{
cursor:pointer;
}
